:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.header {
  background-image: url("./images/logo1resize.jpg");
  background-size: cover;
  background-position: center;
  opacity: var(--mainOpacity);
  height: 70vh !important;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-color {
  background-color: #33cde4;
}

.main-color:hover {
  background-color:rgb(48, 107, 236);
}

.col-image-left {
  background-image: url("./images/earrings/black-beauty.JPG");
  height: 25em !important;
}

.col-image-right {
  background-image: url("./images/earrings/blue-jelly.JPG");
  height: 25em !important;
}

.contact-image {
  background-image: url("./images/earrings/key-to-soul.jpg");
  height: 25em !important;
  width: "720";
}

.homepage-carousel-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.main-container {
  max-width: 1500px;
  margin: 0 auto;
}

.navbar-nav .nav-link.active {
  color: #33cde4;
  font-weight: 700;
}


.icon{
  font-size: 28px;
  color: #33cde4;
}

.icon-minus-margin{
  margin-left: -14px;
}

.custom-text {
  font-size: 18px;
}